@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

body {
    font-family: sans-serif;
}

.page-container {
    display: flex;
}

.left-page {
    background-image: url(side-bg.jpg);
    background-size: cover;
    height: 800px;

    flex: 3;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 185px;
}

.logo span {
    color: white;
    font-size: 4rem;
    font-family: norse-bold;
}

.right-page {
    background-color: rgb(247, 247, 247);
    flex: 5;

    display: flex;
    align-items: center;
}

.right-page-contents .headers {
    padding-left: 43px;
    padding-right: 50px;
}

.right-page-contents .form-part {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 43px;
    padding-right: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.right-page-contents form {
    display: flex;
    flex-wrap: wrap;
}

.right-page-contents form p {
    margin-right: 40px;
}

.right-page-contents .footers {
    padding-left: 43px;
    padding-right: 50px;
}

button {
    background-color: sienna;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
    margin-top: 30px;
    font-size: 1.2rem;   
}

button:active {
    background-color: antiquewhite;
    border: 1px solid black;
}

input {
    font-size: 1.2rem;
}

input:focus {
    border: 1px solid blue;
    border-radius: 3px;
    outline: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

